<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
    <header id="header" class="alt">
      <h1>Hello There</h1>
      
    </header>

  <!-- Main -->
    <div id="main">

      <!-- First Section -->
        <section id="first" class="main special">
          <ul class="features">
            <div id="progBar"></div>
            <!-- wrap in ngIf -->
            <app-feature 
            *ngFor='let f of features'
              [question]='f.question'
              [answer]='f.answer'
              [choices]='f.choices'></app-feature>
          </ul>
        </section>
    </div>
</div>